<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            background-color: #FFEFD5;
            font-family: Arial, sans-serif;
        }
        h1, h2 {
            color: #D2691E;
        }
        p {
            color: #8B4513;
        }
        img {
            max-width: 540px;
            height: auto;
            border-radius: 15px;
        }
        div {
            background-color: #FFF8DC;
            border-radius: 15px;
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>

    <h2>HackCook</h2>
    <h1><%= title %></h1>
    <img src="<%= imgUrl %>" alt="<%= title %>">
    <div>
        <h2>Bahan:</h2>
        <p><%= bahan %></p>
    </div>
    <div>
        <h2>Video:</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= idYoutube %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>
